[Unit]
Description=sysadm.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill sysadm_ru
ExecStartPre=-/usr/bin/docker rm sysadm_ru
ExecStartPre=-/usr/bin/docker pull jekyll/jekyll:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name sysadm_ru   \
 -p 65001:4000                        \
 -v /project/sysadm.ru:/srv/jekyll \
 jekyll/jekyll:pages jekyll serve --watch --incremental'
ExecStop=-/usr/bin/docker kill sysadm_ru
ExecStop=-/usr/bin/docker rm sysadm_ru

[Install]
WantedBy=multi-user.target
