<footer class="site-footer">

  <div class="wrapper">


    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">Проект со всеми исходниками расположен и хостится на [github](https://github.com/sysadm-ru/sysadm-ru.github.io). Любой желающий может создать свою копию. Желающие добавить свои знания могут прислать pull request'ы. Подробнее в разделе "О сайте".</p>
      </div>
    </div>

  </div>

</footer>
