<footer class="site-footer">
  <div class="wrapper">
    <!-- Google Analitics -->

    <!-- Google Analitics -->

    {% if page.keywords %}

    <div align="center">
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }}
      </p>
    </div>

    {% endif %}

    <h2 class="footer-heading">
      Системный Администратор <br />
      {{ site.title }}
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p class="text">
          OpenSource проект с исходниками на
          <a href="https://github.com/webmakaka/sysadm.ru" rel="nofollow"
            >github</a
          >.

          <br />

          Для общения, создана группа в телеграм: sysadm_ru
        </p>

        <p class="text">
          <strong
            >Все материалы обновляются по мере нахождения лучших практик и
            апгрейда знаний. Если в проекте будет учавствовать больше людей,
            качество материалов будет улучшаться и обновляться быстрее.</strong
          >
        </p>
      </div>
    </div>
  </div>
</footer>
